.items
  margin-top: 20px
  .item-card
    height: 400px
    .item-wrapper
      border: 1px solid black
    margin-bottom: 20px
    .item-title
      height: 60px
    .image
      width: 100%
      height: 250px
      img
        width: 100%
        height: 250px
    .info
      padding: 5px
      height: 100px
      .additional
        height: 40px
        line-height: 40px
        margin-bottom: 10px
    .action
      button
        font-size: 18px